:root{
    --background: rgb(255, 0, 0);
    --background2: rgb(249,208,46);
    --text: rgb(255, 255, 255);
}

body {
    background-color: var(--background2);
    color: var(--text);
}

.text {
   
    color: black;
    text-align: center;
}

#t1 {
    margin-top: 200px;
    font-size: 50px;
}

#but1 {
    margin-top: 50px;
    font-size: 30px;
    background-color: var(--background);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 690px;
}