<!DOCTYPE html>
<html lang="en">


<head>
    <link href="{{ url_for('static', filename='style/dashboard.css') }}" rel="stylesheet" />
</head>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>

</head>

<body>
    <div class="title">
        <h1>IoT Fire Alarm And Suppression System</h1>
    </div>


    <div class="building-box">
        <a href="{{url_for('building1')}}" class="slider-link">Building 1</a>
    </div>

    <div class="building-box">
        <a href="{{url_for('building2')}}" class="slider-link">Building 2</a>
    </div>


</body>

</html>