<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building 2</title>
</head>
<body>
    <h1>Building 2</h1>
    
    <p>Here you can monitor rooms in Building 2.</p>

    <div class="building-box"> 
        <a href="{{url_for('room3')}}" class="slider-link">Room 3</a>
    </div>
    <div class="building-box"> 
        <a href="{{url_for('room4')}}" class="slider-link">Room 4</a>
    </div>
    <!-- Back to Dashboard -->
    <div class="building-box"> 
        <a href="{{url_for('dashboard')}}" class="slider-link"><b>Back to Dashboard</b></a>
    </div>
</body>
</html>