:root{
    --background: rgb(0, 183, 255);
    --text: rgb(255, 255, 255);
}
.fire {
    --background: rgb(255, 0, 0);
    --text: rgb(255, 255, 0);
}
.title {
    font-size: 30px;
    text-align: center;
}
body {
    background-color: var(--background);
    color: var(--text);
}

#hotMessage {
    color: rgb(225, 255, 0);
    font-size: 80px;
    text-align: center;   
}
.building1{
   
    background-color: white;
    color: black;
    padding: 50px;
    margin-right: 800px;
    margin-left: 500px;
}