<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/dashboard.css') }}">
</head>

<body>
    <div class="title">
        <h1>IoT Fire Alarm And Suppression System</h1>
    </div>

    
    <div class="data-item">
        <h2>Temperature</h2>
        <p class="value" id="temp">Loading...</p>
    </div>

    <div class="data-item">
        <h2>Smoke</h2>
        <p class="value" id="smoke">Loading...</p>
    </div>

    <div class="data-item">
        <h2>Flame</h2>
        <p class="value" id="flame">Loading...</p>
    </div>

    <a href="{{url_for('home')}}">Log out</a>

    <!-- Load Firebase Data -->
    
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/dashboard.js') }}" defer></script>

    <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/11.4.0/firebase-app.js";
            import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/11.4.0/firebase-database.js";

    // Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyB-ENheeyuJs8GFQVzFNq1silxSIQk8TbM",
        authDomain: "esp32-fire-alarm-a8fc5.firebaseapp.com",
        databaseURL: "https://esp32-fire-alarm-a8fc5-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "esp32-fire-alarm-a8fc5",
        storageBucket: "esp32-fire-alarm-a8fc5.firebasestorage.app",
        messagingSenderId: "138078759671",
        appId: "1:138078759671:web:06b4af915ffd11839681f2",
        measurementId: "G-ZZW6Q5DB2S"
      };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const db = getDatabase(app);
    const tempRef = ref(db, "temp");
        const smokeRef = ref(db, "smoke");
        const flameRef = ref(db, "flame");
   
        onValue(tempRef, (snapshot) => {
            document.getElementById("temp").innerHTML = snapshot.val() + "°C";
        });

        onValue(smokeRef, (snapshot) => {
            document.getElementById("smoke").innerHTML = snapshot.val();
        });

        onValue(flameRef, (snapshot) => {
            document.getElementById("flame").innerHTML = snapshot.val() ? "Yes" : "No";
        });
    </script>
</body>

</html>